@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-inter: "Inter", sans-serif;
  --font-roboto: "Roboto", sans-serif;

  --color-dark: #0a0a0a;
  --color-dark-100: #1f1f1f;
  --color-dark-200: #252525;
  --color-dark-300: #2e2e2e;

  --color-white-50: #f3f3f5;
  --color-white-100: #e6dede;

  --color-yellow-70: #f1ff7e;
  --color-blue-70: #5724ff;
  --color-red-70: #d64722;

  --shadow-100: 0px 1px 3px 0px rgba(16, 24, 40, 0.1),
    0px 1px 2px 0px rgba(16, 24, 40, 0.06);
  --shadow-200: 0px 12px 16px -4px rgba(16, 24, 40, 0.1),
    0px 4px 20px -2px rgba(16, 24, 40, 0.2);
  --shadow-300: 0px 2px 30px 0px rgba(0, 0, 0, 0.05);
  --shadow-400: 0px 2px 6px 0px rgba(13, 10, 44, 0.08);
  --shadow-500: 0px 12px 16px -4px rgba(16, 24, 40, 0.1);
}

@layer utilities {
  .flex-center {
    @apply flex items-center;
  }
  .flex-between {
    @apply flex items-center justify-between;
  }
  .transition-1 {
    @apply transition-all duration-200;
  }
  .transition-2 {
    @apply transition-all duration-300;
  }
  .place-center {
    @apply grid place-items-center;
  }

  .layout-btn {
    @apply p-3 border border-white-100 dark:border-dark-300 rounded-md w-full cursor-pointer relative;
  }
  .color-btn {
    @apply size-7 p-1 cursor-pointer rounded-full ring-1 dark:ring-white-100 ring-slate-200;
  }

  .main-container {
    @apply mx-auto container px-6;
  }

  .glass-effict {
    @apply text-white text-sm -mt-2 absolute top-4 left-2 px-3 py-1 rounded-md bg-white/20 dark:bg-dark/10 border border-white/10 shadow-md dark:border-dark-300/10 backdrop-blur-sm;
  }
}
